<section id="noticias" class="padded">
    <div class="container">
        <h2>Noticias</h2>
        <div class="row">
            <article class="col">
                <h3>Noticia 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et magnam ipsa, minima quo suscipit iusto ipsum rem ab unde voluptate perspiciatis! Quidem quos corrupti dolore aut odit harum delectus!</p>
                <p>Dolores alias veniam culpa quaerat odio rerum eos assumenda ullam dignissimos quia repudiandae natus architecto libero minus reprehenderit, deserunt corrupti molestias quae molestiae ab porro, sed labore. Sit, consectetur corporis?</p>
            </article>
            <article class="col">
                <h3>Noticia 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, temporibus nam corporis repellendus eos voluptates quod iure fuga, cum deserunt quis odit cupiditate. Animi ratione soluta fugiat illo perferendis accusantium?</p>
                <p>Ipsa ratione illum quisquam, atque molestias error cumque ducimus excepturi necessitatibus, quis alias sit repellat a velit doloribus ipsum quia. Magnam harum voluptatem quia labore. Delectus odio nostrum itaque dolore?</p>
            </article>
            <article class="col">
                <h3>Noticia 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere odio maiores pariatur quia illo nam, ipsam tempora recusandae molestias reprehenderit cum deserunt. Culpa in, repellendus voluptatum ab nostrum dignissimos eligendi.</p>
                <p>Omnis iure molestiae, eos animi unde quo veritatis excepturi, totam incidunt labore vel magnam sapiente nulla minus odit dolor tempora ut maxime porro possimus cupiditate aspernatur. Amet aliquam nostrum cupiditate!</p>
            </article>
        </div>
    </div>
</section>