<section id="historia" class="padded">
    <div class="container">
        <h2>Tienda</h2>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let itemCategoria of listaCategorias" [class.active]="itemCategoria=== categoriaElegida" (click)="seleccionar(itemCategoria)">

                        <h5>{{itemCategoria.nombre}}</h5>
                        <small>{{itemCategoria.descripcion}}</small>
                    </li>
                </ul>
            </div>
            <div class="col-md-9" *ngIf="categoriaElegida">
                <h3>{{categoriaElegida.nombre}}</h3>
                <p>{{categoriaElegida.descripcion}}</p>
                <app-productos [categoriaX]="categoriaElegida"></app-productos>
            </div>
        </div>
    </div>
</section>