<section id="historia" class="padded">
    <div class="container">
        <h2>Categorías</h2>

        <p>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Nueva categoría
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form ngNativeValidate [formGroup]="categoriasInsertarForm" (ngSubmit)="agregarCategoria(categoriasInsertarForm.value)">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" required minlength="2">
                    </div>
                    <div class="mb-3">

                        <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcion" required minlength="5">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample" type="submit">Guardar</button>
                        <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#collapseExample" type="button">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Cod</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemCategoria of listaCategorias">
                    <td class="text-center">{{itemCategoria.idcategoria}}</td>
                    <td>{{itemCategoria.nombre}}</td>
                    <td>{{itemCategoria.descripcion}}</td>
                    <td>
                        <fa-icon [icon]="faEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editarCategoria(itemCategoria)"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faTimes" (click)="eliminarCategoria(itemCategoria)"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form ngNativeValidate [formGroup]="categoriasInsertarForm" (ngSubmit)="actualizarCategoria(categoriasActualizarForm.value)" *ngIf="categoriaActualizar">


                <div class="modal-body">

                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="idcategoria" [(ngModel)]="categoriaActualizar.idcategoria" readonly>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [(ngModel)]="categoriaActualizar.nombre" required minlength="2">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcion" [(ngModel)]="categoriaActualizar.descripcion" required minlength="5">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
                </div>

            </form>

        </div>
    </div>
</div>