.mensaje-oferta {
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    transform: rotate(315deg);
    width: 100%;
    top: 10%;
    left: -30%;
}

.producto-sin-oferta {
    display: none;
}

.card {
    overflow: hidden;
}